##Topic 3 - Python Structure & Data Type Assignment

# Data Type Declaration

1. > Create an empty variable (Points : 5)

In [ ]:
#Code goes here
variable = ''
print(variable)

**Penjelasan Jawaban Code No. 1**

Pada code ini, variabel dibuat bernilai kosong dengan memasukan value yang tidak memiliki isi/nilai (' '). Dari hal tersebut, ketika dilakukan print(variable) tidak akan memunculkan hasil running dan bernilai kosong karena code tidak memiliki isi value.

2. > Create a variable containing your name (Points : 5)

In [ ]:
#Code goes here
name = 'Rumaisya Az-zahra'
print(name)

Rumaisya Az-zahra

**Penjelasan Jawaban Code No. 2**

Variabel merupakan wadah dari suatu value. Pada code ini, dibuat sebuah variabel yang berisikan nama saya (name = 'Rumaisya Az-zahra) yang mana variabel name akan memiliki value Rumaisya Az-zahra. Dengan demikian ketika di print variabelnya akan memunculkan sebuah hasil yang berisikan nama lengkap.

3. > Create a list of 5 items you can find in the classroom (Points : 5)

In [ ]:
#Code goes here
list_itemclassroom = ['buku','penggaris','meja','kursi','tas']
list_itemclassroom

['buku', 'penggaris', 'meja', 'kursi', 'tas']

**Penjelasan Jawaban Code No. 3**

List merupakan single variabel yang berisikan banyak value. Dari petunjuk soal, diharuskan untuk membuat list 5 item yang dapat ditemukan di dalam kelas. Dengan demikian, dibuatlah code yang berisikan single variabel (list_itemclassroom) dan memiliki banyaknya value sejumlah 5 sehingga ketika dirunning codenya akan memunculkan nama 5 item yaitu (buku, penggaris, meja, kursi, dan tas)

4. > Create a dictionary containing 2 keys and value (Points : 5)

In [ ]:
#Code goes here
dictionary = {
    'name':'jenny',
    'mbti':'INFP'
}
dictionary

{'name': 'jenny', 'mbti': 'INFP'}

**Penjelasan Jawaban Code No. 4**

Pada code ini dibuatlah sebuah dictionary dengan memuat 2 key dan valuenya. Pada sebelah kiri terdapat key yaitu name dan mbti. Sedangkan di sebelah kanan merupakan valuenya dan berisikan jenny dan INFP. Dengan demikian, ketika code di running akan memunculkan hasil dictionary yang digunakan untuk menyimpan nilai data dalam pasangan kunci (key) : nilai (value).

# Basic Data Operation

You sold 20 pieces of electronics at the price of 12000. The customer gets a total discount of 10%.

Below are those variables:

1.   price=12000
2.   quantity_sold=20
3.   discount=10%


Using Python code, write the code the find the total money that the customer to pay. (Points : 15)

In [ ]:
#Code goes here
price = 12000
quantity_sold = 20
discount = 10/100
total = (price*quantity_sold)-(price*quantity_sold*discount)
total

216000.0

**Penjelasan Jawaban Basic Data Operation**

Dari data variabel-variabel tersebut maka dibuatlah rumus untuk menentukan berapa harga yang harus customer bayarkan. Dari data tersebut, hal yang perlu dilakukan ialah menetukan keseluruhan harga dengan melakukan multiplication (price*quantity_sold) yang mana sebesar 240.000. Kemudian, perlu juga ditentukan harga keseluruhan yang telah didiskon sebesar 10% dengan rumus multiplication (price*quantity_sold*discount) sehingga didapatkan harga keseluruhan yang telah diberi diskon sebesar 24000. Dengan demikian, penentuan selisih dari harga keseluruhan dan harga diskon keseluruhan (substraction) didapat sebesar 216.000. Dari hasil itulah diketahui bahwa customer perlu membayarkan sejumlah uang sebesar 216.000.

# List Data Operation

5. > Follow the instructions in the code blocks

In [ ]:
# Create list of countries in the world (total 7 countries) (Points : 5)

#Code goes here
list_country = ['Inggris','Korea','Amerika','New Zealand','Arab','Prancis','Australia']
list_country

['Inggris', 'Korea', 'Amerika', 'New Zealand', 'Arab', 'Prancis', 'Australia']

**Penjelasan Jawaban No. 5 (1)**

Code ini dibuat list of strings yang mana valuenya terdiri dari 7 negara dengan single variabel berupa list_country. Dengan demikian diperoleh list 7 negara yang berisikan 'Inggris', 'Korea', 'Amerika', 'New Zealand', 'Arab', 'Prancis', dan 'Australia'.

In [ ]:
# Get 4 countries from the first index of the list (Points : 5)

#Code goes here
list_country[0:4]

['Inggris', 'Korea', 'Amerika', 'New Zealand']

**Penjelasan Jawaban No. 5 (2)**

Pada petunjuk soal ini diharuskan untuk mengambil 4 negara dari index pertama dalam list. Dari hal itu dibuatlah code dengan menuliskan variabel dan ditambahkan dengan keterangan index pertama yaitu 0 hingga index 3 sehingga keterangan indexnya menjadi [0:4]. Dengan demikian, codenya menjadi list_country[0:4] sehingga diperoleh 4 negara dari index pertama (0) hingga index (3). Dari hal itu maka didapatkan 4 negara pertama yaitu 'Inggris','Korea','Amerika', dan 'New Zealand'.

In [ ]:
# Append new country to the list (Points : 5)

#Code goes here
list_country.append('Swiss')
list_country

['Inggris',
 'Korea',
 'Amerika',
 'New Zealand',
 'Arab',
 'Prancis',
 'Australia',
 'Swiss']

**Penjelasan Jawaban No. 5 (3)**

Penambahan list perlu dilakukan dengan menuliskan append pada code. Dalam kasus ini, perlu ditambahkan satu negara yaitu Swiss ke dalam variabel list_country sehingga dibuatlah code berupa list_country.append('Swiss'). Dari code tersebut ketika dirunning, Swiss akan secara otomatis masuk ke dalam list negara karena append berfungsi untuk menambahkan suatu value ke dalam list.

In [ ]:
# Drop one country from the list (Points : 5)

#Code goes here
list_country.remove('Prancis')
list_country

['Inggris', 'Korea', 'Amerika', 'New Zealand', 'Arab', 'Australia', 'Swiss']

**Penjelasan Jawaban Code No.5 (4)**

Dalam mendrop/menghilangkan salah satu value dalam list perlu dilakukan remove pada code dan memilih value yang ingin dihilangkan. Pada code ini, negara Prancis ingin dihilangkan dalam list sehingga dibuatlah code berupa list_country.remove('Prancis') sehingga ketika dirunning codenya Prancis akan secara otomatis hilang dalam list.

In [ ]:
# Get country in the last index (Points : 5)

#Code goes here
list_country[6]

'Swiss'

**Penjelasan Jawaban Code No. 5 (5)**

Pada kasus ini, diminta negara dari index terakhir. Diketahui dalam data list terdapat 7 negara sehingga ketika diurutkan dari index awal yang berupa 0 akan menghasilkan index terakhirnya yaitu 6. Dengan demikian, keterangan index angka 6 dapat dimasukan ke dalam code dan ketika dirunning code list_country[6] akan mendapatkan hasil value negara Swiss dan ketika dicek dibagian atasnya juga akan sesuai dengan list karena negara Swiss merupakan value terakhir yang ditambahkan ke dalam list.

# Dictionary Data Operation

6. >  Follow the instructions below

In [ ]:
# Given the dictionary below

customer={
    "name":['Dio','Eka','Wayu','Riki'],
    "age":[20,19,24,39],
    "gender":[1, 0, 0, 1],
    "membership":['Platinum','Gold','Silver','Silver']
}
customer

{'name': ['Dio', 'Eka', 'Wayu', 'Riki'],
 'age': [20, 19, 24, 39],
 'gender': [1, 0, 0, 1],
 'membership': ['Platinum', 'Gold', 'Silver', 'Silver']}

**Penjelasan Jawaban Code No. 6**

Pada intruksi ini diberikan data dictionary yang terdiri dari 4 kunci (key) dan 4 nilai (value). Data tersebut, akan digunakan untuk mengolah code sesuai intruksi yang akan diberikan.

In [ ]:
# Print all keys in customer (Points : 5)

#Code goes here
dict.keys(customer)

dict_keys(['name', 'age', 'gender', 'membership'])

**Penjelasan Jawaban Code No. 6 (1)**

Pada kasus ini, diminta seluruh data key di dictionary. Dari hal itu, maka dapat dilakukan pemasukan code dict.keys agar seluruh kunci pada dictionary muncul. Dengan demikian, ketika dirunning akan menghasilkan data kunci (key) yang disebelah kiri yaitu 'name','age','gender',dan 'membership'.

In [ ]:
# Print all customer names (Points : 5)

#Code goes here
customer['name']

['Dio', 'Eka', 'Wayu', 'Riki']

**Penjelasan Jawaban Code No. 6 (2)**

Cara untuk mengetahui data customer name pada dictionary maka dapat dituliskan code berupa variable dan key ingin diketahui valuenya. Dengan demikian, maka dapat dituliskan code berupa customer['name']. Dari hal itulah, ketika code dirunning maka akan menghasilkan data beberapa value antara lain adalah 'Dio', 'Eka', 'Wayu', dan 'Riki'.

In [ ]:
# Print the first customer name (Points : 5)

#Code goes here
customer['name'][0]

'Dio'

**Penjelasan Jawaban Code No. 6 (3)**

Pada intruksi ini, diminta value pertama pada key (name). Dari hal tersebut, diketahui bahwa index pertama selalu diawali oleh angka 0. Dengan demikian, angka nol dapat ditambahkan ke dalam code yang berisikan variabel dan key yang ingin diketahui valuenya sehingga ketika dirunning akan menghasilkan data berupa nama pertama yaitu 'Dio' serta hal tersebut sesuai dengan yang terdapat pada dictionary.

In [ ]:
# Drop "age" key from the dictionary (Points : 5)

#Code goes here
del customer['age']

customer

{'name': ['Dio', 'Eka', 'Wayu', 'Riki'],
 'gender': [1, 0, 0, 1],
 'membership': ['Platinum', 'Gold', 'Silver', 'Silver']}

**Penjelasan Jawaban Code No. 6 (4)**

Pada case ini, untuk mendrop satu list dengan key berupa 'age' maka dapat dilakukan dengan code delete alih-alih menggunakan remove. Hal ini karena remove biasanya digunakan untuk menghapus value. Sedangkan di case ini yang ingin didrop terdiri dari key dan value sehingga perlu melakukan delete pada code variabel 'customer' dan key 'age'. Dengan demikian, ketika code diproses / dirunning list key akan otomatis terhapus pada data dictionary.

In [ ]:
# Replace customer gender list value (Points : 20)
# gender 1 => Male
# gender 0 => Female 


#Code goes here
customer['gender']=['male','female','female','male']
customer

#Cara ini merupakan cara simple cocok digunakan jika datanya sedikit

{'name': ['Dio', 'Eka', 'Wayu', 'Riki'],
 'gender': ['male', 'female', 'female', 'male'],
 'membership': ['Platinum', 'Gold', 'Silver', 'Silver']}

**Penjelasan Jawaban Code No. 6 (5)**

Dalam mereplace value dalam list maka dapat dilakukan dengan membuat code berupa variabel dan key serta data value yang ingin diubah dalam list. Dari kasus ini, dibuatlah code customer['gender']=['male','female','female','male'] untuk mereplace gender 1 dengan male dan gender 0 untuk female. Dengan demikian value dalam list key 'gender' yang semulanya berupa '1','0','0','1' akan secara otomatis berubah valuenya di dalam dictionary tersebut ketika code dijalankan menjadi 'male','female','female','male'. Selain itu, jika replace datanya banyak maka dapat menggunakan for yang mana dapat mereplace secara otomatis data tersebut.

In [ ]:
#Tambahan code jawaban No 6(5) replace gender
#Tambahan code jika menggunakan cara for (if dan else)
#Code ini cocok digunakan jika data nya banyak
for x in customer['gender']:
  if x == 1:
    customer['gender'] = 'male'
  elif x == 0:
    customer['gender'] = 'female'

  
customer

{'name': ['Dio', 'Eka', 'Wayu', 'Riki'],
 'gender': ['male', 'female', 'female', 'male'],
 'membership': ['Platinum', 'Gold', 'Silver', 'Silver']}